<a class="btn btn-lg btn-outline-primary"  routerLink="/admin/{{realm}}/client/add">Add new client</a>
<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Client Id</th>
      <th scope="col">Authorization Grant Types</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of model_data">
      <td><a><ngb-highlight [result]="client.client_id" routerLink="/admin/{{realm}}/client-control/{{client.uuid}}"  class="btn"></ngb-highlight></a></td>
      <td>
        <span *ngFor="let authType of client.authorizationGrantTypes">{{authType}}<br></span>
      </td>
      <td>
        <a (click)="delete(client.uuid)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [service]="clientService" (model_data)="setModelData($event)"></app-pagination>
</form>
