<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
      <th scope="col">Enabled</th>
      <th scope="col">Email Verified</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of model_data">
      <td><a><ngb-highlight [result]="user.uuid" (click)="openUserPage(user.uuid)"  class="btn"></ngb-highlight></a></td>
      <td>{{user.firstName+" "+user.lastName}}</td>
      <td><ngb-highlight [result]="user.username"></ngb-highlight></td>
      <td><ngb-highlight [result]="user.email"></ngb-highlight></td>
      <td>
        <span *ngFor="let role of user.user_roles">{{role}}<br></span>
      </td>
      <td>{{user.enabled}}</td>
      <td>{{user.emailVerified}}</td>
      <td>
        <a (click)="delete(user.uuid)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [service]="userService" (model_data)="setModelData($event)"></app-pagination>
</form>
