<div class="row">
  <div class="card text-center col-md-2 board-grid">
    <div class="card-header">Options</div>
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/admin/{{realm}}/options">Global Options</a></h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card text-center col-md-2 board-grid">
    <div class="card-header">Clients</div>
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/admin/{{realm}}/clients">Clients</a></h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card text-center col-md-2 board-grid">
    <div class="card-header">Users</div>
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/admin/{{realm}}/users">Users</a></h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card text-center col-md-2 board-grid">
    <div class="card-header">Scopes</div>
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/admin/{{realm}}/scopes">Scopes</a></h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card text-center col-md-2 board-grid">
    <div class="card-header">Resources</div>
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/admin/{{realm}}/resources">Resources</a></h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <a href="{{getRealmLinks}}" target="_blank">Realm Routes</a>
</div>
