<div class="container" style="text-align: center">
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="10" [boundaryLinks]="false"
                    [directionLinks]="false">
      <ng-template ngbPaginationPages let-page let-pages="pages">
         <span class="ngb-custom-pages-item">
          <div class="mb-2 d-flex flex-nowrap px-1">
            <button class="pgn-btn" [disabled]="page === 1" (click)="selectPage(1+'')">«</button>
          </div>
        </span>
        <span class="ngb-custom-pages-item">
          <div class="mb-2 d-flex flex-nowrap px-2">
            <button class="pgn-btn" (click)="selectPage((page-1)+'')" [disabled]="page === 1" >Prev</button>
          </div>
        </span>
        <span class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="mb-2 d-flex flex-nowrap px-2">
            <label
              id="paginationInputLabel"
              for="paginationInput"
              class="col-form-label me-2 ms-1"
            >Page</label>
            <input #i
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   class="form-control custom-pages-input"
                   id="paginationInput"
                   [value]="page"
                   (keyup.enter)="selectPage(i.value)"
                   (blur)="selectPage(i.value)"
                   (input)="formatInput($any($event).target)"
                   aria-labelledby="paginationInputLabel paginationDescription"
                   style="width: 2.5rem"
            />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                  of {{pages.length}}</span>
          </div>
        </span>
        <span class="ngb-custom-pages-item">
          <div class="mb-2 d-flex flex-nowrap px-2">
            <button class="pgn-btn" [disabled]="page === page_count" (click)="selectPage((page+1)+'')">Next</button>
          </div>
        </span>
        <span class="ngb-custom-pages-item">
          <div class="mb-2 d-flex flex-nowrap px-1">
            <button class="pgn-btn" (click)="selectPage(lastpage)" [disabled]="page === page_count">»</button>
          </div>
        </span>
      </ng-template>
    </ngb-pagination>
  </div>
</div>
