<div class="container-fluid">
  <div class="row">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li>
            <a class="nav-link" routerLink="/admin/realms">Realms</a>
          </li>
          <li>
            <a routerLink="/admin/users" class="nav-link">
              Users</a>
          </li>
          <li>
            <a routerLink="/admin/roles" class="nav-link">
              Roles
            </a>
          </li>
          <li>
            <a routerLink="/admin/scopes" class="nav-link">
              Scopes
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
