<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label for="firstName" >First name</label>
    <div class="input-group">
      <div *ngIf="submitted && formControl['firstName'].errors" class="text-danger">
        <div *ngIf="formControl['firstName'].errors['required']">First name  is required.</div>
      </div>
      <input id="firstName" class="form-control" formControlName="firstName">
    </div>
    <label for="lastName" >Last name</label>
    <div class="input-group">
      <div *ngIf="submitted && formControl['lastName'].errors" class="text-danger">
        <div *ngIf="formControl['lastName'].errors['required']">Last neme is required</div>
      </div>
      <input id="lastName" class="form-control" formControlName="lastName">
    </div>

    <label for="username" >Username</label>
    <div class="input-group">
      <div *ngIf="submitted && formControl['username'].errors" class="text-danger">
        <div *ngIf="formControl['username'].errors['required']">Username is required</div>
      </div>
      <input id="username" class="form-control" formControlName="username">
    </div>

    <label for="email" >Email</label>
    <div class="input-group">
      <div *ngIf="submitted && formControl['email'].errors" class="text-danger">
        <div *ngIf="formControl['email'].errors['required']">Email is required</div>
      </div>
      <input id="email" class="form-control" formControlName="email">
    </div>

    <label for="password" >Password</label>
    <div class="input-group">
      <div *ngIf="submitted && formControl['password'].errors" class="text-danger">
        <div *ngIf="formControl['password'].errors['required']">Email is required</div>
      </div>
      <input id="password" class="form-control" formControlName="password">
    </div>
  </div>
  <div class="buttons text-center">
    <button class="btn btn-success" type="submit">Add</button>
  </div>
</form>
