<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Resource</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm(modal)">
      <div class="mb-3">
        <label for="resourceId" >Name</label>
        <div class="input-group">
          <div *ngIf="submitted && formControl['resourceId'].errors" class="text-danger">
            <div *ngIf="formControl['resourceId'].errors['required']">Resource Id is required.</div>
          </div>
          <input id="resourceId" class="form-control" formControlName="resourceId">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark" >Save</button>
    </form>
  </div>

</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create new resource</button>

<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Resource Id</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Resource</th>
      <th scope="col" sortable="name">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of model_data">
      <td><a><ngb-highlight [result]="role.uuid"  class="btn"></ngb-highlight></a></td>
      <td><ngb-highlight [result]="role.resourceId"></ngb-highlight></td>
      <td>
        <div ngbDropdown container="body">
          <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{role.status}}</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let status of statuses"  (click)="changeValueState(role.uuid, status.name, role)">{{status.name}}</button>
          </div>
        </div>
      </td>
      <td>
        <a (click)="delete(role.uuid)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [service]="resourceService" (model_data)="setModelData($event)"></app-pagination>
</form>
