<div class="container">
  <form *ngIf="user_data!=null" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="mb-3" *ngFor="let field of user_data">
      <label for="{{field}}" class="form-label">{{field | titlecase }}</label>
      <div class="input-group">
        <div *ngIf="submitted && formControl[field].errors!=null" class="text-danger">
          <div *ngIf="formControl[field].errors">{{field | titlecase }} is required.</div>
        </div>
        <input id="{{field}}" type="text" class="form-control" formControlName="{{field}}">
      </div>
    </div>
    <div class="align-content-center" style="text-align: center">
    <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
